{% extends "dashboard.html" %}

{% block checkin_customers %}
    <a class="nav-link active" href="{% url 'list_checkin_customers' %}">
        <span data-feather="bookmark"></span>
        入住明细
    </a>
{% endblock %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">入住顾客信息</h1>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>预订编号</th>
                    <th>房间号</th>
                    <th>顾客姓名</th>
                    <th>退房状态</th>
                </tr>
                </thead>
                <tbody>
                {{ html | safe }}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}