{% extends "dashboard.html" %}

{% block customer_manager %}
    <a class="nav-link active" href="{% url 'list_customers' %}">
        <span data-feather="users"></span>
        顾客管理 <span class="sr-only">(current)</span>
    </a>
{% endblock %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">顾客信息</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a href="{% url 'create_customer' %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary">新增</button>
                    </a>
                    <a href="{% url 'export_customer' %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary">导出</button>
                    </a>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 10px">
            <form id="toolbar" class="form-inline" role="form" method="get">
                <div class="form-group">
                    <input style="margin-right: 5px" type="text" id="name" name="name"
                           class="form-control" placeholder="姓名">
                </div>
                <div class="form-group">
                    <input style="margin-right: 5px" type="text" id="cellphone" name="cellphone"
                           class="form-control" placeholder="手机号">
                </div>
                <button type="submit" id="search" class="btn btn-default btn-info">搜索</button>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>手机号</th>
                    <th>身份证号码</th>
                    <th>备注信息</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.sex }}</td>
                        <td>{{ customer.cellphone }}</td>
                        <td>{{ customer.identity_card }}</td>
                        <td>{{ customer.extra }}</td>
                        <td><a href="{% url 'update_customer' customer.id %}">编辑</a>
                            <a href="{% url 'delete_customer' customer.id %}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if customers.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ customers.previous_page_number }}{{ param }}">Previous</a>
                    </li>
                {% endif %}
                {% for num in customers.paginator.num_pages|list %}
                    {% if num == customers.number %}
                        <li class="page-item active">
                            {% else %}
                        <li class="page-item">
                    {% endif %}
                <a class="page-link" href="?page={{ num }}{{ param }}">{{ num }}</a>
                </li>
                {% endfor %}
                {% if customers.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ customers.next_page_number }}{{ param }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </main>

    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}